<%-include("header") -%>

<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cum, quae placeat! Molestias iste accusantium modi repudiandae, eos vel ut vero aliquam adipisci distinctio quod dignissimos nemo, ducimus culpa ratione!</p>

<%- include("footer") -%>
